.nr-dashboard-numeric {
  color: #4b4b4b !important;
  font-weight: 500;
}

.nr-dashboard-numeric .value {
  font-weight: bold;
  text-align: center;
  border: 0px;
  color: #4b4b4b !important;
}

.nr-dashboard-numeric .md-button {
  margin: 0;
  color: #4b4b4b !important;
}
